
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env

# Output logs and artifacts
*.log
*-unknown-state.png
*-unknown-state.webm

# Backup files
*.bak
*.tmp
*.old